<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- SCRIPTS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    

<script src="/js/home.js"></script>
<script src="/js/highlighter.js"></script>
<script src="/js/typed.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- STYLES -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="/css/styles.css">
<title>
    GEWORLD - Group 1
</title>
</head>

<body data-aos='zoom-in'data-aos-duration='1500'>
    {{> nav}}
    <div class='container justify-content-center greet-cont'>
            <h1><span id = 'intercon'></span></h1>
    </div>
    <!-- SECTION 1 -->
    <!-- BG1 -->
    <section>
    <div class="row splitRow filler " data-aos="fade-right" data-aos-duration='1500'>
        <div class="column bg1">
            <h2>What is <u>interconnectedness</u> ?</h2>
            <p class = 'p-less'>The Cambridge Dictionary (n.d.) defines interconnectedness as <u class = 'highlighter1'>“the state of having different parts or things connected 
                or related to each other”.</u> It is the condition where events from completely far and different circumstances have spillover 
                effects to people in different places. These spillover effects may be negative or positive. Either way, it is <u class = 'highlighter1'>significant in 
                affecting the lives of other people (Heywood, 2011). </u></p>
        </div>
        <div class="column content-1">
        </div>
    </div>
    </section>
    <!-- BG2 -->
    <section>
    <div class="row splitRow filler  " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-2">
        </div>
        <div class="column col-color bg2">
            <h2>What is <u>interdependence</u> ?</h2>
            <p class='p-less'>
                It is defined as <u class='highlighter2'>“the fact of depending on each other” (Cambridge Dictionary, n.d.).</u> According to Heywood (2011), two parties are bound in a relationship where a decision 
                made by either of the parties would have an <u class='highlighter2'>influence on the other party.</u> 
                <br><br>
                This is said to have stemmed from the sense of mutual vulnerability. 
                It is commonly observed in world politics where countries would enter into economic <u class='highlighter2'>cooperation and integration to address issues together.</u>
                </p>
        </div>
    </div>
    </section>
    <!-- BG3 -->
    <section>
    <div class="row splitRow filler" data-aos="fade-right" data-aos-duration='1500'>
        <div class="column col-color bg3">
            <h2><u>Interconnectedness</u> in our world today...</h2>
            <p class='p-more'>
                The world today seems to have shrunk as events in distant places have shown <u class='highlighter3'>repercussions to the life of people across the globe (Heywood, 2011 : Bova, 2012). </u>
                In recent years, advanced technology in transport and communication have closed <u class='highlighter3'>the gap on distance between borders (Bova, 2012).</u> 
                <br><br>
                Within the context of today’s global landscape, our interconnectedness has  <u class='highlighter3'>migrated to a new medium— the internet.</u> 
                With the risks involved in going outside due to the ongoing pandemic, the safest means to connect to <u class='highlighter3'>the world is online.</u> 
                Work, studies, investments, and more have shifted to an online platform, highlighting <u class='highlighter3'>the link that binds us to the world.</u>
                </p>
        </div>
        <div class="column content-3">
        </div>
    </div>
    </section>
    <!-- BG4 -->
    <section>
    <div class="row splitRow filler" data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-4">
        </div>
        <div class="column bg1">
            <h2>Finding <u>interdependence</u> today...</h2>
            <p class='p-more'>
                Economic cooperation and integration among nations has changed the landscape of trade and commerce. Today, we can observe the interdependence of ASEAN countries in trade where inter-regional tariffs 
                were remarkably cut under the  ASEAN Free Trade Area (AFTA) (ASEAN, n.d.).  
                <br><br>
                Right now, we can observe interdependence with the <u class = 'highlighter1'>global effort in vaccine production and circulation.</u> Research and development on attaining methods to reduce the spread of COVID is <u class='highlighter1'>shared with the global community</u>, 
                establishing the fact that the world is <u class='highlighter1'>united against a common threat.</u> This signifies that dependence exceeds the needs of man but <u class='highlighter1'>as a collective whole.</u>
            </p>
        </div>
    </div>
    </section>
    <!-- BG5 -->
    <section>

    <div class="row splitRow filler " data-aos="fade-right" data-aos-duration='1500'>
        <div class="column col-color bg2">
            <h2>What can we <u>look forward</u> to?</h2>
            <p class='p-normal'>As history is unfolding in front of us, each and every one of us is looking forward to easing our way into the lives we lived before this pandemic. With this in mind, we find ourselves in a position to <u class='highlighter2'>contribute to the global effort</u> being exerted by each nation in this world. 
                <br><br>
                Within the context of interconnectedness and interdependence, it’s up to us, the residents of our country and this world, to wear masks, get vaccinated, and so much more. As mentioned,  <u class='highlighter2'>we can positively or negatively affect</u> the lives of others where our lives, as well as the 
                lives of the people around us, is <u class='highlighter2'>dependent on the decisions</u> that we and they make.</p>
        </div>
        <div class="column content-5">
        </div>
    </div>        
    </section>
    <!-- SECTION 2 -->
    <div class='container justify-content-center greet-cont' data-aos="zoom-in"  data-aos-duration='1000'>
            <h1><span id = 'bounds'></span></h1>
    </div>

    <!-- BG6 -->
    <section>
    <div class="row splitRow filler  " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-6">
        </div>
        <div class="column col-color bg3">
            <h2>Between <u>borders and boundaries</u>...</h2>
            <p class='p-more'>
                Territorial borders exist to create a <u class='highlighter3'>physical or political line</u> that separates geographic areas (National Geographic | Encyclopedic Entry, 2011). 
                These boundaries exist to imply political implications, where these implications may either be of <u class='highlighter3'>peace or violence.</u>
                <br><br> 
	            Such an example is the <u class='highlighter3'>demilitarized zone</u> that draws the line between North Korea and South Korea. With both entities holding each other with hostility, 
                it is a prime example of the <u class='highlighter3'>violent implications</u> that were mentioned. Not all boundaries exist to denote violence, the enjoining countries that comprise 
                the <u class='highlighter3'>European Union</u> can freely move in-between borders <u class='highlighter3'>without the ensuing uproar</u> like North and South Korea.

            
            </p>
        </div>
    </div>
    </section>
    <!-- BG7 -->
     <section>
    <div class="row splitRow filler " data-aos="fade-right" data-aos-duration='1500'>
        <div class="column bg1">
            <h2>Seeking <u>refuge</u>...</h2>
            <p class = 'p-more'>
                Habitat for Humanity describes <u class='highlighter1'>refugees</u> as people who <u class='highlighter1'>flee from the dangers</u> of armed conflicts and persecution. <u class='highlighter1'>Asylum seekers</u> are then defined as someone who <u class='highlighter1'>claims to be a refugee but whose claim is unverified</u>. Lastly, <u class='highlighter1'>migrants</u> are defined as people who choose to move not out of safety, but <u class='highlighter1'>to improve their lives</u> (“Refugees, Asylum Seekers & Migrants: A Crucial Difference”, 2016).
                <br><br>
                The interchangeable meanings behind the classification of people who wish to flee their country <u class='highlighter1'>can cause confusion to the locals of the community</u>. The <u class='highlighter1'>stigma against foreign entities</u> entering the community <u class='highlighter1'>further complicates</u> the politics happening behind the scenes. Authorities can <u class'highlighter1'>neither be too lax nor too stern</u> towards entry as <u class='highlighter1'>circumstances may differ</u> from one entrant to another.

            </p>
        </div>
        <div class="column content-7">
        </div>
    </div>
    </section>
    <!-- BG8 -->
    <section>
    <div class="row splitRow filler  " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-8">
        </div>
        <div class="column col-color bg2">
            <h2>Finding <u>community and acceptance</u>...</h2>
            <p class='p-more'>
                The policies surrounding migrants, refugees, and asylum seekers are <u class='highlighter2'>complex, at best</u>. Allowing these people the right to be a 
                part of the community is the <u class='highlighter2'>first step towards acceptance</u>, but the next is allowing these people to experience the same highs 
                that the community enjoys.
                <br><br>
                Sympathizing with struggles, the creation
                of safe spaces, and more, are ways to welcome these people into our community (“Exploring the Impact of Social Acceptance on Refugee Integration into Host Communities: Policy Research“, 2017). 
                <u class='highlighter2'>Blurring the political aspect of borders will leave 
                only leave the physical aspect of boundarie</u>s, yet ensuring the comfort of both locals and foreign entrants <u class='highlighter2'>definitely adds another
                layer to the complexity of territories, boundaries, and rights.</u>
            </p>
        </div>
    </div>
    </section>
    

    <!-- REFERENCES -->
    <div class='container justify-content-center greet-cont' data-aos="zoom-in"  data-aos-duration='1000'>
            <h1><span id = 'fincred1'></span></h1>
    </div>
    <div class="row splitRow filler  " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column col-color bgREF1">
            <h2>Created By:</h2>
            <p class='p-more'>
            <li style="font-size:2vw";>Rafael Maderazo</li>
            <li style="font-size:2vw";>Jose Manansala</li>
            <li style="font-size:2vw";>Justin Gacal</li>
            <li style="font-size:2vw";>Fiona Gamboa</li>
            <li style="font-size:2vw";>Patrick Imperial</li>
            <li style="font-size:2vw";>Javier Nieva</li>
            </p>
        </div>
        <div class="column col-color bgREF2">
            <h2>References:</h2>
            <p class='_references'>
                
                1.) Association of Southeast Asia Nations (ASEAN). (n.d.). The ASEAN Free Trade Area (AFTA) .Retrieved from https://asean.org/asean-economic-community/asean-free-trade-area-afta-council/
                <br>
                2.) Bova, R. (2012). How the World Works: A Brief Survey of International Relations, 2nd ed.
                <br>
                3.) Boston: Longman.
                <br>
                4.) Cambridge Dictionary. (n.d.). Interconnectedness. Retrieved from https://dictionary.cambridge.org/us/dictionary/english/interconnectedness
                <br>
                5.) Cambridge Dictionary. (n.d.). Interconnectedness. Retrieved from https://dictionary.cambridge.org/us/dictionary/english/interconnectedness
                <br>
                6.) Exploring the Impact of Social Acceptance on Refugee Integration into Host Communities: Policy Research. (2017). Retrieved 4 July 2021, from https://www.crs.org/get-involved/advocate/public-policy/exploring-impact-social-acceptance-refugee-integration-host-communities-policy-research
                <br>
                7.) Heywood, A. (2011). Global Politics. London, the United Kingdom: Palgrave Macmillan.
                <br>
                8.) Refugees, Asylum Seekers & Migrants: A Crucial Difference. (2016). Retrieved 4 July 2021, from https://www.habitatforhumanity.org.uk/blog/2016/09/refugees-asylum-seekers-migrants-crucial-difference/
                <br>
                9.) Terzi, N. (2011). The impact of e-commerce on international trade and employment. Procedia Social and Behavioral Sciences, 24, 745–753. Retrieved from https://pdf.sciencedirectassets.com/277811/1-s2.0-S1877042811X00174/1-s2.0-S1877042811015382/main.pdf
                <br>
                10.) United Nations Conference on Trade and Development (UNCTAD). (2020 October 8). COVID-19 has changed online shopping forever, survey shows. Retrieved from https://unctad.org/news/covid-19-has-changed-online-shopping-forever-survey-shows

            
            </p>
        </div>
        
    </div>
    </section>
</body>

</html>
