<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- SCRIPTS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src="/js/home.js"></script>
<script src="/js/highlighter.js"></script>
<script src="/js/typed.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- STYLES -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="/css/styles.css">

<title>
    GEWORLD - Group 1
</title>
</head>

<body data-aos='zoom-in'data-aos-duration='1500'>
    {{> nav}}
    <div class='container justify-content-center greet-cont'>
            <h1><span id = 'intercon'></span></h1>
    </div>
    <!-- SECTION 1 -->
    <!-- BG1 -->
    <div class="row splitRow filler " data-aos="fade-right" data-aos-duration='1500'>
        <div class="column bg1">
            <h2>What is <u>interconnectedness</u> ?</h2>
            <p>Some <u class='highlighter1'>text</u>..</p>
        </div>
        <div class="column content-1">
        </div>
    </div>
    
    <!-- BG2 -->
    <div class="row splitRow filler  " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-2">
        </div>
        <div class="column col-color bg2">
            <h2>What is <u>interdependence</u> ?</h2>
            <p>Some <u class='highlighter2'>text</u>..</p>
        </div>
    </div>
    <!-- BG3 -->
    <div class="row splitRow filler" data-aos="fade-right" data-aos-duration='1500'>
        <div class="column col-color bg3">
            <h2><u>Interconnectedness</u> in our world today...</h2>
            <p>Some <u class='highlighter3'>text</u>..</p>
        </div>
        <div class="column content-3">
        </div>
    </div>
    <!-- BG4 -->
    <div class="row splitRow filler" data-aos="fade-left" data-aos-duration='1500'>
        <div class="column content-4">
        </div>
        <div class="column bg1">
            <h2>Observing <u>interdependence</u> in this world...</h2>
            <p>Some <u class='highlighter1'>text</u>..</p>
        </div>
    </div>
    <!-- BG5 -->
    <div class="row splitRow filler " data-aos="fade-left" data-aos-duration='1500'>
        <div class="column col-color bg2">
            <h2>What can we <u>look forward</u> to?</h2>
            <p>Some <u class='highlighter2'>text</u>..</p>
        </div>
        <div class="column content-5">
        </div>
    </div>

    <!-- SECTION 2 -->
    <div class='container justify-content-center greet-cont' data-aos="zoom-in"  data-aos-duration='1000'>
            <h1><span id = 'bounds'></span></h1>
    </div>

    <!-- BG6 -->
    <div class="row splitRow filler  bg2" data-aos="fade-left" data-aos-duration='1500'>
        <div class="column col-color">
            <h2>Column 1</h2>
            <p>Some <u class='highlighter2'>text</u>..</p>
        </div>
        <div class="column col-color">
            <h2>Column 2</h2>
            <p>Some <u class='highlighter2'>text</u>..</p>
        </div>
    </div>
</body>

</html>
