*
{
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
}

::-webkit-scrollbar {
    display: none;
  } 

.navbar
{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px white;
}

.navTarget
{
    color: black;
    font-weight: bolder;
    display: inline-block;
}

#spanner
{
    position: relative;
    top: 15vh ;
    color: black;
    word-wrap: break-word;

    max-height: 40vh;
    max-width: 150vw;
}
.dropbtn 
{
    background-color: white;
    color: black;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1vh;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-content {display: block;}

#main
{
    background-image: url('../images/flat.png');
    background-size: cover;
    background-repeat: no-repeat;

}
#maintenance
{
    background-image: url('../images/maintenance.png');
    background-size: auto;

}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 2vw;
    height: 75vh; 
    color: white;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.splitRow{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
    border-radius: 7.5px;
}
.greet-cont h1{
    font-size: 4vw;
}

.column h2{
    font-size: 3vw;
}
    
/* BACKGROUNDS */
.bg1{
    background-image: url('../images/bg1.png');
    border-radius: 7.5px;
}
.bg2{
    background-image: url('../images/bg2.png');
    border-radius: 7.5px;
}
.bg3{
    background-image: url('../images/bg3.png');
    border-radius: 7.5px;
}
.spanbg{
    height: 100%;
    width: 100vw;
    border-radius: 7.5px;
    align-items: center;
    display: flex;
    margin: 0;
    margin-top: 3vh;
    padding: 0;
    border: 0;
}
.spanbg img{
    border-radius: 7.5px;
    margin: 0;
}

.greet-cont{
    text-align: center;
    margin-top: 4vh;
}
.flatter{
    align-items: left;
    width: 30vw;
}
#pls{
    color: white;
}

/* CONTENT */
.content-1{
    background-image: url('../images/content-1.png');
    background-repeat: no-repeat;
}

.content-2{
    background-image: url('../images/content-2.png');
    background-repeat: no-repeat;
}
.content-3{
    background-image: url('../images/content-3.png');
    background-repeat: no-repeat;
}
.content-4{
    background-image: url('../images/content-4.png');
    background-repeat: no-repeat;
}
.content-5{
    background-image: url('../images/content-5.png');
    background-repeat: no-repeat;
}
.content-6{
    background-image: url('../images/content-6.png');
    background-repeat: no-repeat;
}
.content-7{
    background-image: url('../images/content-7.png');
    background-repeat: no-repeat;
}
.content-8{
    background-image: url('../images/content-8.png');
    background-repeat: no-repeat;
}
.content-9{
    background-image: url('../images/content-9.png');
    background-repeat: no-repeat;
}

/*ACCOMPANYING CONTENT*/
.p-less{
    font-size: 1.80vw;
}
.p-normal{
    font-size: 1.50vw;
}
.p-more{
    font-size: 1.40vw;
}

/*REFERENCES*/
.bgREF1{
    color: black;
}


.bgREF2{
    background-color: black;
    color: white;
    border-radius: 7.5px;
}